<header class="mb-3">
  <h1 class="text-2xl font-bold mb-1">Set Password</h1>
  <p class="text-gray-500 mb-2">Add a password so you can also sign in with your email address.</p>
</header>

<div class="w-full sm:max-w-screen-sm mx-auto px-3">
  <form [formGroup]="form" (submit)="submit(model)">
    <formly-form [form]="form" [fields]="fields" [model]="model" [options]="options"></formly-form>

    <div class="text-center mt-4">
      <button mat-stroked-button [disabled]="form.invalid" type="submit" shape="round">Set Password</button>
    </div>
  </form>
</div>
