<div class="flex justify-center">
  <div class="w-full max-w-3xl">
    <div *ngIf="!(post$ | async)" class="bg-white dark:bg-gray-900 rounded-xl shadow p-6 mb-6">
      <app-skeleton-text view="fb"></app-skeleton-text>
    </div>

    <div *ngIf="post$ | async as post" class="bg-white dark:bg-gray-900 rounded-xl shadow overflow-hidden">
      @if(post.photoURL){
      <div
        class="w-full h-32 md:h-48 bg-cover bg-center"
        [style.background-image]="util.getSanitizedStyle(post.photoURL)"
      ></div>
      }

      <div class="p-6">
        <div *ngIf="post.videoURL" class="mb-4 flex justify-center">
          <iframe
            [src]="util.getSanitizedUrl(post.videoURL)"
            class="w-full max-w-2xl aspect-video rounded"
            frameborder="0"
            allowfullscreen
          ></iframe>
        </div>

        <h1 class="text-3xl font-bold italic text-gray-900 dark:text-white mb-4">{{ post.title }}</h1>

        <div
          class="prose prose-lg max-w-full break-words my-6 dark:prose-invert"
          [innerHTML]="util.getSanitizedHtml(post.text)"
        ></div>

        <ng-container *ngIf="auth.currentUser$ | async as user">
          @if (user.roles.admin || user.uid === post.createUid) {
          <div class="flex justify-end gap-3 mt-6">
            <a [routerLink]="['/blog/posts']" class="button-secondary">Manage</a>
            <a [routerLink]="['/blog/posts', post.id, 'edit']" class="button-secondary">Edit</a>
          </div>
          }
        </ng-container>
      </div>
    </div>
  </div>
</div>

<div class="flex justify-center my-8 gap-4">
  <a [routerLink]="['/blog']" class="button-secondary">Return to Blog</a>
  <a [routerLink]="['/']" class="button-secondary">Home</a>
</div>
